main {
	background: rgb(233 233 233 / 70%);
}
.breadcrumb {
	padding: 32px 0 0;
}
.tbl-shopping-cart {
	border-radius: 24px;
}
.tbl-shopping-cart input[type="checkbox"] {
	width: 24px;
	height: 24px;
	border: 1px solid #999;
	border-radius: 4px;
}
.tbl-shopping-cart thead th {
	padding: 10px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #555555;
	border-bottom: 1px solid #dee2e6;
}
.tbl-shopping-cart td {
	vertical-align: inherit;
	border-bottom: 1px solid #dee2e6;
}
.tbl-shopping-cart .name-menu {
	vertical-align: super;
	margin: 0 0 0 16px;
}
.tbl-shopping-cart .price {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}
.tbl-shopping-cart .price .discount {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-decoration-line: line-through;
	color: #777777;
}
.box-item .unNum {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0;
	top: 7px;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	color: #999 !important;
	cursor: pointer;
	z-index: 1;
}
.box-item .text-number {
	display: inline-block;
	font-weight: 500;
	line-height: 34px;
	margin: 0;
	font-size: 17px;
	color: #666;
}
.box-item .quantity {
	width: 97px;
	display: inline-block;
	line-height: 32px;
	height: 32px;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #ccc;
	outline: none;
	font-weight: 400;
	font-size: 18px;
	position: relative;
	top: 8px;
}
.box-item .upNum {
	position: absolute;
	right: 0;
	top: 9px;
	line-height: 30px;
	font-size: 30px;
	color: #999 !important;
	cursor: pointer;
}
.tbl-shopping-cart .amount {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #B63241;
}
.tbl-shopping-cart td .delete {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #888;
	margin: 0 0 0 5px;
}
.tbl-shopping-cart-footer {
	background: #fff;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}
.tbl-shopping-cart-footer input[type="checkbox"] {
	width: 24px;
	height: 24px;
	border: 1px solid #999;
	border-radius: 4px;
}
.tbl-shopping-cart-footer label {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #555;
	margin: 0 0 0 16px;
	vertical-align: super;
}
.tbl-shopping-cart-footer .total-amount-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #888;
	width: 128px;
}
.tbl-shopping-cart-footer .amount {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #B63241;
}
.tbl-shopping-cart-footer .buy-now {
	border: 1px solid #B63241;
	border-radius: 8px;
	font-weight: 600;
	font-size: 20px;
	padding: 12px 0 0 18px;
	background: #B63241;
	width: 154px;
	color: #fff;
	height: 48px;
	cursor: pointer;
}
.tbl-shopping-cart-footer .buy-now:hover {
	background: #fff;
	color: #B63241;
	border: none;
}