.color_B63241 {
	color: #B63241;
}

.box-item-detail {
	padding: 0 55px;
}
.box-item-detail h4 {
	color: #023047;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 160%;
}
.box-item-detail .price {
	color: #E24D2D;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 160%;
}
.box-item-detail .info {
	color: #333;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 180%;
}
.box-item-detail .text_number {
	font-weight: 400;
	font-size: 17px;
	line-height: 180%;
	color: #666;
}
.box-item-detail .unNum {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 97px;
	top: 0;
	text-align: center;
	line-height: 30px;
	font-size: 30px;
	color: #999 !important;
	cursor: pointer;
}
.box-item-detail .text-number {
	display: inline-block;
	font-weight: 500;
	line-height: 34px;
	margin: 0;
	font-size: 17px;
	color: #666;
}
.box-item-detail .quantity {
	width: 97px;
	display: inline-block;
	line-height: 32px;
	height: 32px;
	text-align: center;
	border-radius: 8px;
	border: 1px solid #ccc;
	outline: none;
	margin: 0 0 0 24px;
	font-weight: 400;
	font-size: 18px;
}
.box-item-detail .upNum {
	position: absolute;
	right: 28px;
	top: 0;
	line-height: 30px;
	font-size: 30px;
	color: #999 !important;
	cursor: pointer;
}
.box-item-detail .btn-action .shopping-cart {
	border: 1px solid #B63241;
	border-radius: 8px;
	font-weight: 600;
	font-size: 20px;
	color: #B63241;
	padding: 15px;
	cursor: pointer;
	background: #fff;
	width: 235px;
}
.box-item-detail .btn-action .shopping-cart svg {
	display: none;
	margin: 0 0 0 5px;
}
.box-item-detail .btn-action .shopping-cart:hover svg{
	display: inline-block;
}
.box-item-detail .btn-action .buy-now {
	border: 1px solid #B63241;
	border-radius: 8px;
	font-weight: 600;
	font-size: 20px;
	padding: 0 0 0 15px;
	cursor: pointer;
	background: #B63241;
	width: 154px;
	color: #fff;
	height: 53px;
	margin: 0 0 0 24px;
}
.box-item-detail .btn-action .buy-now:hover {
	background: #fff;
	color: #B63241;
	border: none;
}
.box-content {
	margin: 100px 0 0;
}
.box-content h4:first-child {
	color: #B63241;
	font-weight: 700;
	font-size: 25px;
	margin: 80px 0 34px 0;
}
.box-content p {
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 170%;
}
.box-content h4:last-child {
	color: #B63241;
	font-weight: 700;
	font-size: 25px;
	margin: 80px 0 0;
}
.wrap-quantity-detail {
	border-radius: 4px;
}
@media screen and (max-width: 1199.98px) {
	.boxTourHomePage,
	.boxTravelStyle,
	.boxCountryDetination,
	.boxBlogHomePage,
	.testimonialsHome {
		padding: 40px 0;
	}
	.content_banner p {
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 1023.98px) {
	.boxTourHomePage,
	.boxTravelStyle,
	.boxCountryDetination,
	.boxBlogHomePage,
	.testimonialsHome {
		padding: 35px 0;
	}
}
@media screen and (max-width: 991.98px) {
	.boxTourHomePage,
	.boxTravelStyle,
	.boxCountryDetination,
	.boxBlogHomePage,
	.testimonialsHome {
		padding: 30px 0;
	}
}
@media (max-width: 767.98px) {
	.container {
		padding-right: 8px;
		padding-left: 8px;
		margin-right: auto;
		margin-left: auto;
	}
	.box-item-detail {
		padding: 0;
	}
	.box-item-detail .w-50 {
		width: 75% !important;
	}
	.box-item-detail .upNum {
		right: 80px;
	}
	.box-item-detail .btn-action .shopping-cart {
		width: 177px;
		font-size: 16px;
	}
	.box-item-detail .btn-action .buy-now {
		font-size: 16px;
	}
}
@media (max-width: 600px) {
	
}
